{
	"hide": true,
	"apikey": "Find your api key by going to Personal API Key at the bottom of https://next.nexusmods.com/settings/api-keys",
	"firefox": "C:/Users/USER_NAME/AppData/Roaming/Mozilla/Firefox/Profiles/PROFILE_NAME"
}
